body {
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 75px;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 280px;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 3px 3px 10px hsl(220, 15%, 55%);
    border-radius: 4%;
}
.card img {
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    width: 257px;
    height: auto;
    margin-top: 12px;
    border-radius: 3%;
}
.card h2 {
    grid-row: 2/3;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0 19px 0 19px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card p {
    grid-row: 3/4;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    margin: 3px 19px 33px 19px;
}
footer p:first-of-type {
    grid-row: 4/5;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
footer p:nth-of-type(2) {
    grid-row: 5/6;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}